@model IEnumerable<Sphix.ViewModels.CommunityGroupsFroentEnd.CommunityGroupsFroentEndDataView>
@{
//ViewData["Title"] = "Index";
}
<div class="dashboad-outer">
    <div id="divContainer">
        <div>
            

                    <div class="form-group mb-4">
                        <div class="row form-custom">
                            @{ 
                               
                                @if (Model.Count() > 0)
                            {
                                    foreach (var item in Model)
                                    {
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="community-main-body">
                                            <a href="~/CommunityGroup/@item.CommunityGroupURL" title="@item.Title">
                                                <div class="community-category" style="background-color:@item.Color">
                                                    <div class="row form-row align-items-center">
                                                        <div class="col-3">
                                                            <img src="@item.HeaderLogoUrl" style="width:60px !important;min-height:60px !important">
                                                        </div>
                                                        <div class="col-9">
                                                            <p title="@item.Title" style="color:#fff;" class="card-top-text">
                                                                @item.Title
                                                            </p>
                                                            <p style="color:#fff;" class="card-top-text">@item.FooterLinkText</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="~/CommunityGroup/@item.CommunityGroupURL" title="@item.Title">
                                                <div class="community-image" style="background-repeat:no-repeat;background-size:cover;background-position: center;min-height:156px;background-image:url(@item.ImageUrl)">

                                                </div>
                                          </a>

                                                @*<div class="community-icons">
                <div class="float-left">
                    <a href="#" onclick="ShowDetail(@item.Id,'@item.CommunityGroupURL');" title="More Info" style="background-color:@item.Color"><i class="fas fa-info-circle"></i></a>
                </div>
                <div class="float-right navigation-icon">
                    <a href="~/CommunityGroup/@item.CommunityGroupURL" style="background-color:@item.Color"><i class="fas fa-location-arrow" title="Join Now"></i></a>
                </div>
            </div>
            <div class="community-category-bottom" style="background-color:@item.Color">
                <a asp-controller="CommunitiesForGood" asp-action="Index" style="color:#fff;"> Back to Communities for Good</a>
            </div>*@

                                                <div class="community-category-bottom" style="background-color:@item.Color">
                                                    <div class="row form-row">
                                                        <div class="col-4">
                                                            <a href="#" onclick="ShowDetail(@item.Id,'@item.CommunityGroupURL')" style="font-size:14px;color:#fff;margin-left:2px;">More info</a>

                                                        </div>
                                                        <div class="col-5">
                                                            <a href="~/CommunityGroup/@item.CommunityGroupURL" style="font-size:14px;color:#fff;">Read more</a>
                                                        </div>
                                                        <div class="col-3"><i class="far fa-heart" style="color:#fff;"></i></div>
                                                    </div>

                                                </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <partial name="~/Views/Shared/_NoData.cshtml" />
                            }
                                }
                        </div>
                    </div>

                
        </div>
    </div>
</div>
<div>
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="modal fade" tabindex="-3" id="modelCommunityDetail">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="form-group" id="divCommunityDetail">
                                        Loading...
                                    </div>
                                </div>
                                <div class="form-submit-btn modal-footer">
                                    <h4>Would you like to join this community group?</h4>
                                    <button type="button" class="btn btn-success" onclick="JoinCommunityGroup();">Yes</button>
                                    <button type="button" class="btn btn-secondary" onclick="hideCummunityModel();">
                                        No
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="modal fade" tabindex="-3" id="modelJoinNow">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>Join now</h2>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <h4>Would you like to join this community group?</h4>
                                    </div>
                                </div>
                                <div class="form-submit-btn modal-footer">
                                    <button type="button" class="btn btn-success" onclick="JoinCommunityGroup();">
                                        Yes
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        No
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>
</div>
<input type="hidden" id="hdnCommunityGroupId" />
<input type="hidden" id="hdnCommuntyGroupUrl" value="0" />
<style>
    .navigation-icon .fa-location-arrow {
        transform: rotate(45deg);
    }


    .community-main-body {
        margin-bottom: 10px;
        margin-top: 10px;
        /*background-image: url('../img/backdrop/1.png');*/
        background-size: cover;
        min-height: 250px;
        padding: 0px;
        position: relative;
        background-position: center center;
    }
     .community-main-body a {
        text-decoration: none;
    }
    .community-main-body img {
        width: 100%;
        min-height: 183px;
    }

    .community-main-body .community-image {
        padding: 0;
        text-align: center;
    }

    .communit-title {
        padding: 10px;
        font-size: 14px;
        text-align: center;
        margin-top: 0;
        color: #fff;
        font-size: large;
        /*font-weight:bold;*/
    }

    .community-category {
        background: #4D0B0A;
        color: #ffffff;
        padding: 10px;
        margin-left: 0px;
        text-align: center;
    }

    .community-category-bottom {
        margin: 0px 0px 0px 0;
        text-align: center;
        padding: 10px 5px;
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
        /*background-color: #4D0B0A;*/
    }

    .card-top-text {
            width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-align: left;
    font-size: 12px;
    margin-bottom: 2px;
    }

    .form-custom {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
    }
    .form-custom>.col,
    .form-custom>[class*=col-] {
        padding-right: 10px;
        padding-left: 10px;
    }

    @@media only screen and (max-width: 479px) {
        .bg-right-section .community-main-body {
            padding: 0 0;
        }
    }

    .body-content {
        height: 100vh;   
    }
</style>
<script src="~/js/User/JoinUserCommunityGroup.js"></script>
<script>
    
    function ShowDetail(Id, Url) {
        $('#hdnCommunityGroupId').val(Id);
        $('#hdnCommuntyGroupUrl').val(Url);
        $("#divCommunityDetail").load('/CommunityGroupSubSections/CommunityGroupDetail?Id=' + Id);
        $('#modelCommunityDetail').modal('toggle');
    }
    function ShowJoinNowModel(Id) {
        $('#hdnCommunityGroupId').val(Id);
        $('#modelJoinNow').modal('toggle');
    }
    function hideCummunityModel() {
        $('#modelCommunityDetail').modal('hide');
    }

</script>

@section Scripts{

}