@model Sphix.ViewModels.CommunityGroupsFroentEnd.CmmunityGroupDetailViewModel
<div class="row">
    <div class="col-md-12" style="background-color:@Model.Color;color:#fff;padding:5px;">
        @Model.Title
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Raw(Model.Description)
        @if (Model.VideoUrl != null)
        {
            <div class="form-group">
                <video width="400" controls>
                    <source src="@Model.VideoUrl">
                    Your browser does not support HTML5 video.
                    @Model.VideoUrl
                </video>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <img src="@Model.UserProfilePic" style="width: 40px;border-radius: 50%;height: 40px;margin-right: 10px;" />
    </div>
    <div class="col-md-11">
        @Model.FullName
        @*<br />@Model.EmailAddress*@
    </div>
</div>    

