@model AspNetCoreWebApplication.Models.SendGridSignupRequestModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/wwwroot/wwwroot/lib/jquery/dist/jquery.min.js"></script>
<script src="~/wwwroot/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/wwwroot/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div class="container">
    @if (Model.Message != null)
    {
    <div class="row">
        <div class="col-md-12">
            <span asp-validation-for="Message" class="@(Model.IsSuccess?"text-success":"text-danger")">@(Model.Message)</span>
        </div>
    </div>
    }
    <input type="hidden" value="@Model.DevMessage" />
    <div class="row">
        <div class="col-md-12">
            <p>
                We are in the early phases of testing our platform, with select community groups.  We will be adding additional community groups as quickly as we are able.  You can sign up below to begin receiving our monthly newsletter that will provide platform updates as well as community groups as they are released.
            </p>
            <hr />
            <form asp-action="Index" method="post">
                <div class="form-group">
                    <label asp-for="CommunityId" class="control-label"></label>
                    <select asp-for="CommunityId"
                            class="form-control"
                            asp-items="@(new SelectList(@Model.Communities,"Value", "Text"))">
                        <option value="">Select Community</option>
                    </select>
                    <span asp-validation-for="CommunityId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailId" class="control-label"></label>
                    <input asp-for="EmailId" class="form-control" />
                    <span asp-validation-for="EmailId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign up" class="btn btn-primary" />
                </div>
            </form>
            <hr />
            <p>
                We are working hard to build a re-imagined engagement platform, that allows organizations and administrators like you to better communicate, share information and ideas, and work with other community groups to address some of the most complex issues of our day.
            </p>
            <p>
                If you or your organization would like to better understand how we can help your organization better engage in today's digitally connected world, send us a note at partnership@sphix.io.  We would be thrilled to work with you.
            </p>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
