<fieldset>
    <div class="container" >
        <div class="row">
            <div class="col-xs-12">
                <div class="modal fade" tabindex="-3" id="modelCreateOpenHours">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="background-color:#6f6c6c">

                            <div class="modal-body">
                                <div class="form-group">
                                    <ul class="nav nav-tabs" style="margin-top:20px;">
                                      
                                        <li><a data-toggle="tab" class="classTabMenu active show" href="#toAddNewTable">Add a new table</a></li>
                                        <li><a data-toggle="tab" class="classTabMenu" href="#toAbout">About</a></li>
                                    </ul>
                                    <div class="tab-content" style="color:#ffffff">
                                        <br />
                                        <div id="toAddNewTable" class="tab-pane active">
                                            <p>You are about to add a table to this week's office hours, once it is published, anyone who is a member of this group will be able to join. </p>
                                            <p><u>What time will this begin</u></p>
                                            <div class="row">
                                                @*<div class="col-md-3"><input type="radio" name="radioTimeZone" value="PST" /> @Model.OTime PST</div>
                                                <div class="col-md-3"><input type="radio" name="radioTimeZone" value="CST" /> @Model.OTime CST</div>
                                                <div class="col-md-3"><input type="radio" name="radioTimeZone" value="HST" /> @Model.OTime HST</div>
                                                <div class="col-md-3"><input type="radio" name="radioTimeZone" value="EST" /> @Model.OTime EST</div>*@
                                                <div class="col-md-2 bootstrap-timepicker timepicker">
                                                    <input type="text" class="form-control" id="txtOpenOfficeHoursTime" />
                                                </div>

                                                <div class="col-md-2">
                                                    <select class="form-control" id="drpTimeZone">
                                                        <option timeZoneId="1" gmtAdjustment="PST" useDaylightTime="0" value="-12">PST</option>
                                                        <option timeZoneId="2" gmtAdjustment="CST" useDaylightTime="0" value="-11">CST</option>
                                                        <option timeZoneId="3" gmtAdjustment="HST" useDaylightTime="0" value="-10">HST</option>
                                                        <option timeZoneId="4" gmtAdjustment="EST" useDaylightTime="1" value="-9">EST</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-12">
                                                    What is the topic of the conversation
                                                    <input type="text" id="txtOpenHoursConversation" style="width:50%" class="text-bottom-border" maxlength="50" placeholder="50 characters"  message="the topic of the conversation is a required field." required />
                                                </div>
                                                </div>
                                               
                                            <div class="row mt-3">
                                                <div class="col-md-12">
                                                    Roles and Responsibilities
                                                    </div>
                                                </div>
                                                <div>
                                                    <input type="checkbox" onclick="checkCreateOpenHoursTable(this);" />
                                                    By checking this box, I certify that understand my role, responsibilities, and best practices for leading this discussion.
                                                </div>
                                                <div class="float-right">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <input type="button" class="btn btn-primary" disabled="disabled" onclick="AddOpenOfficeHours(@Model.Id);" id="btnSubmitCreateOpneHoursTable" value="SUBMIT" />
                                                </div>
                                            </div>
                                            <div id="toAbout" class="tab-pane">
                                                <p>“Peer-to-Peer networking allows to you connect with other group members of the group to ask questions or to provide helpful feedback to other members. To understand how this work, think of this link a digital room. By Clicking on “create new”, you are adding a table to the room with empty chairs, and asking for members of this community to join you through an RSVP system. The integrated web conferencing solution will connect all of you together at the designated staring time for the group. Alternatively, you can join an existing table that some one has created by clicking on the RSVP button. Etiquette for group meetings is such that the person who creates the group is the person who will start off and lead meeting. At the end, please reserve enough time for 5 minute feedback session on the good, the not so good, and needs improvement. The leader will be responsible for asking the group feedback. At the conclusion of the meeting, the leader will be receive a notification button that will provide the option to continue the same discussion group another week.”</p>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>
<style>
    +50
/* do not group these rules */
*::-webkit-input-placeholder {
    color: #fff;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #fff;
    opacity: 1;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #fff;
    opacity: 1;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}
*::placeholder {
    /* modern browser */
    color: #fff;
}
</style>
<script>
    function checkCreateOpenHoursTable(_this) {
        if (_this.checked) {
            $("#btnSubmitCreateOpneHoursTable").removeAttr("disabled");
        }
        else {
            $("#btnSubmitCreateOpneHoursTable").attr("disabled", true);
        }
        
    }
    
</script>