<div id="ArticleForm">
    <div class="form-group mb-4">
        <div class="row">
            <div class="col-md-12">
                <p>Title</p>
                <input type="text" class="form-control" value="@Model.ArticleTitle" placeholder="Article title (200 characters)" id="txtArticleTitle" message="article title is a required field." required />
            </div>
        </div>
    </div>

    <div class="form-group mb-4">
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" style="height:230px" placeholder="Description" id="txtArticleDescription">@Model.ArticleDescription</textarea>
            </div>
        </div>
    </div>
    <div class="form-group mb-4">
        <div class="row">
            <div class="col-md-4 p-white-color">
                <p style="color:#000;">  Share a document</p>
            </div>
            <div class="col-md-8 p-white-color">
                @*<p>Upload short video clip up to 2 mins</p>*@
                <input type="file" id="txtArticleShareDocument">

            </div>
        </div>
    </div>
    @if (Model.Id != 0)
    {
    <div class="form-group mb-4">
        <div class="row">ManageCommunityGroups/
            <div class="col-md-12">
                <a href="@Model.ShareDocument">@Model.ShareDocument</a>
            </div>
        </div>
    </div>
    }
</div>
<input type="hidden" id="hdnCommunityGroupId" value="@ViewBag.CommunityGroupId" />
<input type="hidden" id="hdnCommunityGroupArticleId" value="@Model.Id" />
<script>
    $(document).ready(function () {
        $('#txtArticleDescription').summernote({
            height: 200,
            popover: {
                image: [],
                link: [],
                air: []
            }
        });

    });
</script>