@model IEnumerable<Sphix.ViewModels.CommunityGroupsFroentEnd.CommunityForGoodList>
<style>
    .community-icons {
        width: 100%;
        padding: 0 10px;
        position: absolute;
        bottom: 60px;
    }
    .community-icons a {
        display: inline-block;
        background: #4D0B0A;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
    }
    .community-desc {
        padding: 68px 10px;
    }
    .bg-right-section .dashboad-outer .form-group {
        padding: 0 35px;
    }
    
</style>
<div>
   
            <div class="form-group mb-4" style="padding: 0">
                <div class="row form-custom">
                    @if (Model.Count() > 0) 
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12" >
                                <div class="community-main-body">
                                    <a href="CommunityGroup/@item.CommunityGroupURL"  title="@item.Description">
                                        <div class="community-category" style="background-color:@item.Color">
                                            <div class="row form-row align-items-center">
                                                <div class="col-3">
                                                    <img src="@item.HeaderLogoUrl" style="width:60px !important;min-height:60px !important" />
                                                </div>
                                                <div class="col-9">
                                                    @if (item.CommunityGroupURL != null)
                                                    {
                                                        <p title="@item.Description" style="color:#fff;" class="card-top-text">
                                                            @item.Description
                                                        </p>
                                                        <p style="color:#fff;" class="card-top-text">@item.FooterLinkText</p>
                                                        @*<a href="CommunityGroups/@item.CommunityUrl" style="color:#fff;" class="card-top-text">@item.FooterLinkText</a>*@
                                                    }
                                                    else
                                                    {
                                                        <p style="color:#fff;" class="card-top-text">@item.FooterLinkText</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="CommunityGroup/@item.CommunityGroupURL">
                                        <div class="community-image" style="background-repeat:no-repeat;background-size:cover;background-position: center;min-height:156px;background-image:url(@item.ImageUrl)">

                                        </div>
                                        </a>


                                        @*<div class="communit-title">@item.Description</div>*@
                                        <div class="community-category-bottom" style="background-color:@item.Color">
                                            <div class="row form-row">
                                                <div class="col-4">
                                                    <a href="#" onclick="ShowDetail(@item.CommunityGroupId,'@item.CommunityGroupURL')" style="font-size:14px;color:#fff;margin-left:2px;">More info</a>

                                                </div>
                                                <div class="col-5">
                                                    <a href="CommunityGroups/@item.CommunityUrl" style="font-size:14px;color:#fff;">More groups</a>
                                                </div>
                                                <div class="col-3"><i class="far fa-heart" style="color:#fff;"></i></div>
                                            </div>

                                        </div>
                                </div>
                                </div>
                        }
                    }
                    else
                    {
                        <p>No Records</p>
                    }
                </div>
            </div>
        
</div>
<input type="hidden" id="hdnCommuntyId" />
<input type="hidden" id="hdnCommuntyUrl" />
<fieldset>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal fade" tabindex="-3" id="modelJoinCommunity">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Join now</h2>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <h4>Would you like to join this community?</h4>
                                </div>
                            </div>
                            <div class="form-submit-btn modal-footer">
                                <button type="button" class="btn btn-success" onclick="JoinCommunityCategory();">
                                    Yes
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>

<style>
    .community-main-body a {
        text-decoration: none;
    }
    .community-main-body {
        margin-bottom: 10px;
        margin-top: 10px;
        /*background-image: url('../img/backdrop/1.png');*/
        background-size: cover;
        min-height: 250px;
        padding: 0px;
        position:relative;
        background-position:center center;
    }

        .community-main-body img {
            width: 100%;
            min-height: 183px;
        }

        .community-main-body .community-image {
            padding:0;
            text-align:center;
        }

    .communit-title {
        padding: 10px;
        font-size: 14px;
        text-align: center;
        margin-top: 0;
        color: #fff;
        font-size: large;
        /*font-weight:bold;*/
    }

    .community-category {
        background: #4D0B0A;
        color: #ffffff;
        padding: 10px;
        margin-left: 0px;
        text-align: center;
    }
   
    .community-category-bottom {
        margin: 0px 0px 0px 0;
        text-align: center;
        padding:10px 5px;
        position: relative;
        width: 100%;
        left:0;
        bottom: 0;
        /*background-color: #4D0B0A;*/
    }
    .card-top-text {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-align: left;
        font-size: 12px;
            margin-bottom: 2px;
    }
    .form-custom {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
    }
    .form-custom>.col,
    .form-custom>[class*=col-] {
        padding-right: 10px;
        padding-left: 10px;
    }
    @@media only screen and (max-width: 479px) {
        .bg-right-section .community-main-body {
            padding: 0 0;
        }
    }
</style>
<script src="~/js/User/JoinUserCommunityGroup.js"></script>
<script>
    function JoinCommunity(Id,url) {
        $('#hdnCommuntyId').val(Id);
        $('#hdnCommuntyUrl').val(url);
        $('#modelJoinCommunity').modal('toggle');
    }
    function ShowCommunities(Id) {
        LoadSection('/CommunitiesForGood/CommunitiesByCategory?Id=' + Id, 'Communities For Good');
    }
</script>