@model Sphix.ViewModels.UserCommunities.OpenOfficeHoursViewModel
<div class="row">
    <div class="col-md-12 community-category" style="text-align:left">
        <p>@Model.OTitle</p>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        @*Title: @Model.OTitle<br />*@
        @*Date: @Model.OFromDate.ToString("dd MMM yyyy") - @Model.OToDate.ToString("dd MMM yyyy")<br />*@
        Time: @Model.OTime @Model.OTimeZone<br />
        Created by : Sphix
    </div>
    <div class="col-md-6">
        Frequently: <span style="text-transform:capitalize;">@Model.OFrequency</span> <br />
        
        Who: @Model.MaxAttendees Members<br />
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="overflow-x:auto;height:200px;">
        @Html.Raw(Model.ODescription)
    </div>
</div>
<input type="hidden" value="@Model.Id" id="hdnCommunityGroupOpenHourId" />
<input type="hidden" value="@ViewBag.TimeZone" id="hdnTimeZone" />
<fieldset>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal fade" tabindex="-3" id="modelOpenHoursMeetingMessage">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Congratulations</h2>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <p>You have successfully reserved your spot for the upcoming Sphix meet. Your role will be a participant.</p>
                                    <p>This role, you will be expected to join and participate in active discussions with other community members.</p>
                                    <p>Please keep in mind that people will have different opinions. This is a good thing. The Sphix community can only flourish with feedback such as yours, which help identify and provide a pathway to making improvements.</p>
                                </div>
                            </div>
                            <div class="form-submit-btn modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Okay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>